$color-base-03: #002b36;
$color-base-02: #073642;
$color-base-01: #586e75;
$color-base-00: #657b83;
$color-base-0: #839496;
$color-base-1: #93a1a1;
$color-base-2: #eee8d5;
$color-base-3: #fdf6e3;
$color-accent-01: #b58900;
$color-accent-02: #cb4b16;
$color-accent-03: #dc322f;
$color-accent-04: #ED174C;
$color-accent-05: #6c71c4;
$color-accent-06: #268bd2;
$color-accent-07: #2aa198;
$color-accent-08: #A5CF4C;